@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: var(--font-inter);
  --font-dmsans: var(--font-dmsans);
  --font-poppins_700: var(--font-poppins_700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply relative font-dmsans bg-gray-100 text-gray-950 pt-28 sm:pt-36 dark:bg-gray-900 dark:text-gray-50 dark:text-opacity-90;
  .splashright {
    @apply bg-[#dddfc7] absolute top-[-6rem] -z-10 right-[11rem] h-[31.25rem] w-[31.25rem] rounded-full blur-[10rem] sm:w-[68.75rem] dark:bg-[#696d46];
  }
  .splashleft {
    @apply bg-[#d2ebd5] absolute top-[-1rem] -z-10 left-[-35rem] h-[31.25rem] w-[50rem] rounded-full blur-[10rem] sm:w-[68.75rem] md:left-[-33rem] lg:left-[-28rem] xl:left-[-15rem] 2xl:left-[-5rem] dark:bg-[#676394];
  }
}
main {
  h1 {
    @apply text-[4rem] font-bold;
  }
  .section-header {
    @apply font-poppins700 text-2xl font-medium capitalize mb-8 text-center;
  }
}
.main-wrapper {
  @apply flex flex-col items-center px-4;
}
.divider-wrapper {
  @apply bg-gray-200 my-12 h-8 w-1 rounded-full hidden sm:block dark:bg-opacity-20;
}
.header-wrapper {
  @apply z-[999] relative;
  &-fixed {
    @apply fixed top-0 left-1/2 h-[4.5rem] w-full rounded-none border border-white border-opacity-40 bg-white bg-opacity-80 shadow-lg shadow-black/[0.03] backdrop-blur-[0.5rem] sm:top-6 sm:h-[3.25rem] sm:w-[36rem] sm:rounded-full dark:bg-gray-950 dark:border-black/40 dark:bg-opacity-75;
  }
  &-nav {
    @apply flex fixed top-[0.15rem] left-1/2 h-12 -translate-x-1/2 py-2 sm:top-[1.7rem] sm:h-[initial] sm:py-0;
    .nav-container {
      @apply flex w-[22rem] flex-wrap items-center justify-center gap-y-1 text-[0.9rem] font-medium text-gray-500 sm:w-[initial] sm:flex-nowrap sm:gap-5;
      &-content {
        @apply h-3/4 flex items-center justify-center relative;
        &--link {
          @apply flex w-full items-center justify-center px-3 py-3 hover:text-gray-950 transition dark:text-gray-500 dark:hover:text-gray-300;
          &-active {
            @apply text-gray-800 dark:text-gray-200;
            .nav-activelink {
              @apply bg-gray-300 rounded-full absolute inset-0 -z-10 dark:bg-gray-800;
            }
          }
        }
      }
    }
  }
}
.intro-wrapper {
  @apply mb-28 max-w-[50rem] text-center sm:mb-0 scroll-mt-[100rem];
  &-container {
    @apply flex items-center justify-center;
    &-content {
      @apply relative;
      .intro-content--img {
        @apply h-24 w-24 rounded-full object-cover border-[0.35rem] border-white shadow-xl;
      }
      .intro-content--emoji {
        @apply absolute bottom-0 right-0 text-2xl;
      }
    }
  }
  &--header {
    @apply mb-10 mt-4 px-4 text-2xl font-medium !leading-[1.5] sm:text-3xl;
  }
  &-contact {
    @apply flex flex-col sm:flex-row items-center justify-center gap-2 px-4 text-lg font-medium;
    .contact-page {
      @apply bg-gray-900 text-white px-5 py-2 flex items-center gap-2 rounded-full outline-none focus:scale-95 hover:scale-95 hover:bg-gray-950 active:scale-105 transition;
      &-icon {
        @apply opacity-70 group-hover:translate-x-1 transition;
      }
    }
    .contact-download {
      @apply bg-white px-7 py-3 flex items-center gap-2 rounded-full outline-none focus:scale-105 hover:scale-95 active:scale-105 transition cursor-pointer border-gray-950 dark:bg-white/10;
      &-icon {
        @apply opacity-60 group-hover:translate-y-1 transition;
      }
    }
    .contact-linkedln {
      @apply bg-white p-4 text-gray-700 hover:text-gray-950 flex items-center gap-2 rounded-full focus:scale-95 hover:scale-95 active:scale-105 transition cursor-pointer border-gray-900 dark:bg-white/10 dark:text-white/60;
    }
    .contact-github {
      @apply bg-white p-4 text-gray-700 flex items-center gap-2 text-[1.35rem] rounded-full focus:scale-95 hover:scale-95 hover:text-gray-950 active:scale-100 transition cursor-pointer border-gray-950 dark:bg-white/10 dark:text-white/60;
    }
  }
}
.about-wrapper {
  @apply mb-28 max-w-[45rem] text-center leading-8 sm:mb-40 scroll-mt-28;
}
.projects-wrapper {
  @apply scroll-mt-28 mb-28;
  .project-container {
    @apply mb-3 sm:mb-8 last:mb-0;
    &-wrapper {
      @apply bg-gray-100 max-w-[42rem] border border-black/5 rounded-lg overflow-hidden sm:pr-8 relative sm:h-[22rem] hover:bg-gray-200 transition sm:group-even:pl-8 dark:text-white dark:bg-white/10 dark:hover:bg-white/20;
      .project-profile {
        @apply pt-4 pb-7 px-5 sm:pl-10 sm:pr-2 sm:pt-10 sm:max-w-[50%] flex flex-col h-full sm:group-even:ml-[18rem];
        &--header {
          @apply font-inter text-xl font-bold;
        }
        &--description {
          @apply mt-2 text-sm sm:text-base leading-relaxed text-gray-700 dark:text-white/70;
        }
        &-listcontent {
          @apply flex flex-wrap mt-4 gap-2 sm:mt-auto;
        }
        .project-list {
          @apply bg-black/[0.7] px-3 py-1 text-[0.7rem] uppercase tracking-wider text-white rounded-full dark:text-white/70;
        }
      }
    }
  }
}
